<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<div>
  <pre (click)="fromDatevisible = !fromDatevisible" class="card card-block card-header">From (click here to change the Date): <em *ngIf="pickerFromDate">{{ pickerFromDate | date:'fullDate'}}</em></pre>
  <div *ngIf="fromDatevisible" style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="pickerFromDate" [initDate]="pickerFromDate" [showWeeks]="true"></datepicker>
  </div>

  <pre (click)="toDatevisible = !toDatevisible" class="card card-block card-header">To (click here to change the Date): <em *ngIf="pickerToDate">{{ pickerToDate | date:'fullDate'}}</em></pre>
  <div *ngIf="toDatevisible" style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="pickerToDate" [initDate]="pickerToDate" [showWeeks]="true"></datepicker>
  </div>
</div>
