<h1>Monitoring</h1>

<h2>EC2 Instances</h2>

<ul>
  <li *ngFor="#ec2Instance of ec2Instances">
    {{ ec2Instance.ip_address }} <br />
    {{ ec2Instance.key_name }} <br />
    {{ ec2Instance.public_dns_name }} <br />
    {{ ec2Instance.id }}
  </li>
</ul>



<h2>Charts</h2>

<div>
<p>Active Nodes vs. aggregated CPU Load of all active nodes over time</p>
<base-chart class="chart"
	[data]="lineChartData"
	[labels]="lineChartLabels"
	[options]="lineChartOptions"
	[series]="lineChartSeries"
	[colours]="lineChartColours"
	[legend]="lineChartLegend"
	[chartType]="lineChartType"></base-chart>
<br/>
<br/>
<br/>
<br/>
<p>Average latency in seconds over time</p>
<base-chart class="chart"
	[data]="lineChartData2"
	[labels]="lineChartLabels2"
	[options]="lineChartOptions2"
	[series]="lineChartSeries2"
	[colours]="lineChartColours2"
	[legend]="lineChartLegend2"
	[chartType]="lineChartType2"></base-chart>
</div>
